<div class="footer">
	<small>
	<%= link_to "Educated Running LLC", "http://www.educatedrunning.com/" %>

	© 2016. All Rights Reserved. by <%= link_to "Jonathan Leith", "https://www.linkedin.com/pub/jonathan-leith/37/227/725" %>
	</small>
</div>